*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  opacity: 1;
}
body{
  height: 100vh;
  width: 100vw;
  color: black;
  background: url(./imgs/ChristmasGameshow.jpg) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flavorText, .startGame{
  font-size: 24px;
}

.riddleContainer{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}
.riddleContainer .guessBtn{
  background-color: greenyellow;
  font-size: 16px;
  padding: 5px;
}
.startBtn{
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  background-color: greenyellow;
  border: 2px solid transparent;
  border-radius: 5px;
}
.startBtn:hover{
  border: 2px solid black;
}
input[type="text"].guess{
  padding: 10px;
}
.guess:hover{
  cursor: pointer;
  background-color: powderblue;
}

#helpModal, #outcomeModal {
  margin: auto auto;
  max-width: 100ch;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: white;
}

#helpModal h2, #outcomeModal h2{
  letter-spacing: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

#helpModal .helpForm, #outcomeModal .outcomeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1rem;
  font-weight: bold;
  max-width: 400px;
  max-height: 600px;
}

#helpModal .helpForm label, #helpModal .helpForm input[type="text"], #outcomeModal .outcomeForm label, #outcomeModal .outcomeForm input[type="text"] {
  letter-spacing: 1px;
  width: 200px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#helpModal .helpForm label, #outcomeModal .outcomeForm label {
  display: block;
  margin-bottom: 5px;
}

#helpModal .helpForm input[type="text"], #outcomeModal .outcomeForm input[type="text"] {
  padding: 5px;
}

#helpModal > *, #outcomeModal > * {
  margin: 0 0 0.5rem 0;
}

#helpModal::-webkit-backdrop, #outcomeModal::-webkit-backdrop {
  background-color: black;
  opacity: .75;
}

#helpModal::backdrop, #outcomeModal::backdrop {
  background-color: black;
  opacity: .75;
}

#helpModal .continueBtn, #outcomeModal .continueBtn{
  padding: 10px; 
  margin: 10px;
  background-color: greenyellow;
  border-radius: 5px;
  font-size: 24px;
}